{% extends 'base.html.twig' %}

{% block body %}
       <p class="font-weight-bold">Customer adding</p>
        {{form_start(form)}}
        {{form_widget(form)}}
        {{form_end(form)}}

{% endblock %}